<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Favicon</title>
</head>
<body>
    <header>
        <img src="/logo-rocketseat.png"/>
    
        {% for header in content.headers %}
            <a href="{{header.url}}" target="{{header.target}}">{{header.name}}</a>
        {% endfor %} 
    </header>
    
    <div class="fundo">
        <section class="cards">
            {% for card in content.cards %}
                <div class="card" id="{{card.idCard}}">
                    <h2 id="{{card.id}}">{{card.numberModule}}</h2>
                    <img src="/{{card.src}}.svg"/>    
                    <p><span id="card.id">{{card.spanInit}}</span>{{card.spanEnd}}</p>
                    <h3>{{card.modulos}}</h3>
                    <h4>{{card.price}}</h4>
                </div>
            {% endfor %}
        </section>
    </div>
    
    <article>
        <div class="modalOverlay">
            <div class="modal">
                <a class="maxim-modal">
                    <i class="material-icons">crop_3_2</i>
                </a>

                <a class="close-modal">
                        <i class="material-icons">close</i>
                </a>

                <div class="modalContent">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </article>

    <script src="/script.js"></script>

</body>
</html>