{% extends "layout.njk" %}
    
{% block content %}
    <div class="fundo">
        <section class="cards">
            {% for card in data.cards %}
                <div class="card" id="{{card.idCard}}">
                    <h2 id="{{card.id}}">{{card.numberModule}}</h2>
                    <img src="/{{card.src}}.svg"/>    
                    <p><span id="{{card.id}}">{{card.spanInit}}</span>{{card.spanEnd}}</p>
                    <h3>{{card.modulos}}</h3>
                    <h4>{{card.price}}</h4>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock  %}
{% block script %}
    <script src="/script.js"></script>
{% endblock  %}    

</body>
</html>