{% extends "layout.njk" %}

{% block content %}
    
    <div class="course">
        
        <div id="{{data.cards.id}}">
            <div class="card-course">
                <iframe src= "" frameborder="0"></iframe>
            </div>
        </div>
        
    </div>

{% endblock %}