{% extends "layout.njk" %}

{% block content %}
    
    <section class="course">
        
        <div id="{{data.cards.id}}">
            <div class="card-course">
                <iframe src= "https://rocketseat.com.br/{{cards.idCard}}" frameborder="0"></iframe>
            </div>
        </div>
        
    </section>

{% endblock %}