<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocketseat - GoStack</title>
  <link rel="stylesheet" href="/gostack.css">
</head>
<body>
    <main class="main-gostack">
    
    <section class="header-gostack">
      <img src="/GoStack.svg" alt="GoStack bootcamp" />
      <h1><b>Domine programação do zero</b> e tenha acesso às melhores oportunidades do mercado no menor tempo possível.</h1>
      <h3>Inscrições encerradas. <b>Garanta sua vaga</b> na próxima turma!</h3>
      <form action="e-mail">
        <input type="text" placeholder="Digite seu melhor e-mail" id="form-email">
        <button type="submit">Reservar minha vaga</button>
      </form>
    </section>
    
    <section class="gostack-question">
      <div class="setor-seta">
        <div class="seta-down">
          <img src="/seta-para-baixo.png" alt="descer para a próxima seção">
        </div>
      </div>
      <div class="flex-area">
        <div>
          <img src="/GoStack.svg" alt="um foguete saindo de cima de um computador">
        </div>
        <div class="section-gostack">
          <h1>O que é o GoStack?</h1>
          <p>Programador há 10 anos e apaixonado pelas melhores tecnologias de desenvolvimento back-end, front-end e mobile, vai ser o responsável por guiar os devs através do ecossistema da OmniStack.</p>
        </div>
      </div>
    </section>
    
    <section class="piloto">
      
      <div class="quem-piloto">
        <h2>Quem é o <b>piloto?</b></h2>
        <p>Programador há 12 anos e instrutor na Rocketseat, <b>apaixonado por ajudar</b> quem está iniciando no mundo da programação.</p>
        <div class="feitos">
          <p>Já treinou diretamente <b>1.288 alunos</b> nas ferramentas mais modernas de desenvolvimento web, e ajudou cada um deles a acelerar sua evolução na primeira etapa da carreira.</p>
        </div>
      </div>

      <div class="teacher-area">
        <img src="https://avatars0.githubusercontent.com/u/2254731?s=400&u=c34dfbafb54d6bb7c3f715ebe93a811cc7355771&v=4" alt="Diego Fernandes, instrutor da GoStack">
        <div class="buttons">
          <button type="submit">GitHub</button>
          <button type="submit">Twitter</button>
        </div>
        <div class="teacher">
          <h2>Diego Fernandes</h2>
          <p>CTO na Rocketseat</p>
        </div>
      </div>
    
    </section>
    
    <section class="footer-main">

      <div class="footer-main-img">
        <img src="/GoStack.svg"/>
      </div>
      <div class="footer-main-content">
        <h3><b>Garanta sua vaga</b><br>para a próxima turma!</h3>
        <form method="POST" class="form-gostack">
          <input type="email" name="email_address" placeholder="Digite seu melhor email" required="">
          <button type="submit">Reservar minha vaga</button>
        </form>
      </div>

    </section>
    
  </main>

  <footer class="footer-gostack">
    <div class="footer-logo">
      <img src="/logo-rocketseat.png"/>
      <h3>2020 &copy; Todos os direitos reservados</h3>
    </div>
    <div class="links-footer">
      <h2>Direitos autorais</h2>
      <h2>Termos de uso</h2>
      <h2>Política de privacidade</h2>
    </div>
  </footer>
</body>
</html>