{% extends "layout.njk" %}

{% block content %}
    <main>
        <img src="logo.jpg" alt="logo Rocketseat">
        <h1>Rocketseat</h1>
        <p>Empresa de ensino dedicada ao sucesso da programação.</p>
    </main>
    <footer>
        {% for footer in index.footers %}
        <a href="{{footer.url}}" target="_blank">{{footer.name}}</a>
        {% endfor %}
    </footer>   
{% endblock %}