<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/launchbase.css">
  <title>Rocketseat - LaunchBase</title>
</head>
<body>
  
  <main class="main-launch">
    
    <section class="header-launch">
      <img src="/LaunchBase.svg" alt="launchBase bootcamp" />
      <h1><b>Domine programação do zero</b> e tenha acesso às melhores oportunidades do mercado no menor tempo possível.</h1>
      <h3>Inscrições encerradas. <b>Garanta sua vaga</b> na próxima turma!</h3>
      <form action="e-mail">
        <input type="text" placeholder="Digite seu melhor e-mail" id="form-email">
        <button type="submit">Reservar minha vaga</button>
      </form>
    </section>
    
    <section class="launchBase-question">
      <div class="setor-seta">
        <div class="seta-down">
          <img src="/seta-para-baixo.png" alt="descer para a próxima seção">
        </div>
      </div>
      <div class="flex-area">
        <div>
          <img src="/foguete-pc.svg" alt="um foguete saindo de cima de um computador">
        </div>
        <div class="section-launchbase">
          <img src="/launchbase.png"/>
          <h1>O que é o LaunchBase?</h1>
          <p>
          O LaunchBase <b>é um treinamento no formato de bootcamp online</b> que tem duração de 6 semanas. A cada semana os conteúdos são liberados de acordo com um cronograma, guiando o aluno pelas ferramentas e conceitos mais modernos de desenvolvimento que permitirão construir as <b>melhores aplicações e ter acesso às melhores oportunidades como programador</b>.
          </p>
        </div>
      </div>
    </section>
    
    <section class="piloto">
      
      <div class="quem-piloto">
        <h2>Quem é o <b>piloto?</b></h2>
        <p>Programador há 12 anos e instrutor na Rocketseat, <b>apaixonado por ajudar</b> quem está iniciando no mundo da programação.</p>
        <div class="feitos">
          <p>Já treinou diretamente <b>1.288 alunos</b> nas ferramentas mais modernas de desenvolvimento web, e ajudou cada um deles a acelerar sua evolução na primeira etapa da carreira.</p>
        </div>
      </div>

      <div class="teacher-area">
        <img src="/mayk.png" alt="Maik Brito, instrutor da LaunchBase">
        <div class="buttons">
          <button type="submit">GitHub</button>
          <button type="submit">Twitter</button>
        </div>
        <div class="teacher">
          <h2>Maik Brito</h2>
          <p>Instrutor da LaunchBase</p>
        </div>
      </div>
    
    </section>
    
    <section>
    
      <h3><b>Garanta sua vaga</b><br>para a próxima turma!</h3>
      <form method="POST" class="form-launchbase">
        <input type="email" name="email_address" placeholder="Digite seu melhor email" required="">
        <button type="submit">Reservar minha vaga</button>
      </form>

    </section>
    
  </main>

  <footer class="footer-launch">
  
  </footer>

</body>
</html>