<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="x-icon"/>
    <link rel="stylesheet" href="/style.css">
    <title>Favicon</title>
</head>
<body>
    <header class="headerLayout">
        <img src="/logo-rocketseat.png"/>

        {% for header in data.headers %}
            <a href="{{header.url}}" target="{{header.target}}">{{header.name}}</a>
        {% endfor %} 
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block script %}
    {% endblock %}
</body>
</html>