<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
<header>
  <div id="logoStarter">
    <img src="/logo.jpg">
  </div>  
  <div id="menu">
    <a href="/">INÍCIO</a>
    <a href="/">STARTER</a>
    <a href="/">BOOTCAMP</a>
    <a href="/">COMUNIDADE</a>
    <a href="/">BLOG</a>
  </div>
  <div id="links">
    <img src="/facebook.ico" alt="facebook da rocketseat">
    <img src="/instagram.ico" alt="instagram da rocketseat">
    <img src="/twitter.ico" alt="twitter da rocketseat">
  </div>
</header>
<h1> Cursos 100% online e gratuitos para você entrar com o pé direito nas tecnologias mais desejadas do mercado.
Descubra o caminho para dominar a OmniStack.</h1>

PRIMEIRA ETAPA
Domine a linguagem de programação

Javascript
Javascript
Diego Fernandes
Acessar
->
Acompanhe o avanço da linguagem

Javascript
Javascript ES6+
Diego Fernandes
Acessar
SEGUNDA ETAPA
Domine a stack
1. Construa a base da sua aplicação no back-end
Para controlar a lógica e os dados das aplicações web e mobile

Javascript
NodeJS
Diego Fernandes
Acessar
2. Desenvolva a versão web da sua aplicação
Para construir interfaces responsivas e dinâmicas no front-end

Javascript
ReactJS
Diego Fernandes
Acessar
3. Crie as versões mobile da sua aplicação
Para desenvolver apps para iOS e Android com interface nativa

Javascript
React Native
Diego Fernandes
Acessar
Acelere a sua evolução. Participe da nossa comunidade no Discord.
Potencialize o seu aprendizado, destaque-se entre os programadores e ganhe prêmios exclusivos.

Acessar comunidade
Comunidade

</body>
</html>