<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/favicon.ico" type="x-icon"/>
  <title>Rocketseat - Starter</title>
</head>
<body>

  <header class="headerStarter">
    
    <div id="logoStarter">
      <img src="/logo.png">
    </div>  
    
    <div class="linksContainer">
      <div id="linkMenu">
        {% for indice in data.starter %}
          <a href="{{indice.url}}" target="{{indece.target}}" id="links">{{indice.name}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="redesContainer">
      <div id="linksContatos">
        {% for image in data.images %}
          <img src="/{{image.name}}.png" alt="{{image.name}} da rocketseat" width="{{image.width}}">
        {% endfor %}
      </div>
    </div>

    <button>Login</button>
    
  </header>
  
  <main class="starter">
    <h1><span id="starteR">Cursos 100% online e gratuitos </span> para você entrar com o pé direito nas tecnologias mais desejadas do mercado.</h1>
    <h3 class="h3Starter">Descubra o caminho para dominar a OmniStack.</h3>
    
    <div class="etapa">
      <h3 class="h3Starter">PRIMEIRA ETAPA</h3>
    </div>
    
    <article class="primeiraEtapa">
      {% for item in data.courseStart %}
        <div class="js">
          <h2>{{item.title}}</h2>
          <div class="linguagem">
            <img src="/{{item.image}}.svg">
            <div class="contentBox">
              <h3>{{item.course}}</h3>
              <h4>{{item.teacher}}</h4>
              <button>{{item.button}}</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </article>
    <div id="seta">
        <img src="/seta-direita.svg">
      </div>
  </main>

  <footer>
  
  </footer>
</body>
</html>