@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

:root{
  --gradient-escuro: rgb(16, 15, 18);
  --gradient-claro: rgb(26,26,31);
  --color-gostack: rgb(63, 206, 63);
  --font-source: "Source Sans Pro", sans-serif; 
  --font-roboto: "Roboto", sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  max-width: 1380px;
  padding: 0;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--gradient-escuro);
  color: white;

}
.header-gostack{
  background: linear-gradient(var(--gradient-escuro) 0%, var(--gradient-claro)100%);
  width: 100%;
  height: 750px;
  padding: 12% 15%;
}
.header-gostack img{
  width: 31%;
}
.header-gostack h1{
  color: white;
  padding: 5% 10%;
  font-size: 24px;
}
/* .header-gostack*/ b{ 
  color: var(--color-gostack);
}
.header-gostack h3{
  color: white;
  font-size: 16px;
  margin-bottom: 2vw;
}
.main-gostack .header-gostack #form-email{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(100, 100, 100, 0.596);
  font-weight: bold;
  width: 34%;
  height: 4vw;
  padding-left: 14px;
  border: 1px solid white;
  border-radius: 5px;
}
.main-gostack .header-gostack button{
  font-family: 'Roboto', sans-serif;
  width: 22%;
  font-weight: bolder;
  text-align: center;
  background-color: var(--color-gostack);
  border: 1px solid var(--color-gostack);
  border-radius: 5px;
  font-size: 14px;
  padding: 17px;
}
.gostack-question{
  position: relative;
}
.setor-seta{
  position: absolute;
  top: -200px;
  left: 45%;
  background-color: var(--gradient-escuro);
  padding: 50px 45px 0px 45px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.setor-seta .seta-down img{
  width: 18%;
  position: absolute;
  left: 40%;
  top: 20px;
}
.flex-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 150px;
}
.flex-area div img{
  width: 300px;
  margin-left: 50px;
}
.gostack-question .section-gostack{
  max-inline-size: 490px;
  font-family: var(--font-roboto)

}
.gostack-question .section-gostack h1{
  font-size: 36px;
  margin-bottom: 40px;
}
.gostack-question .section-gostack p{
  color: #adadad;
  line-height: 27px;
  text-align: left;
  font-size: 18px;
}
.piloto{
  max-width: 1124px;
  margin: 10%;
  display: flex;
  justify-content: space-evenly;
  line-height: 30px;
  text-align: left;
}
.piloto .quem-piloto{
  max-width: 500px;
  margin-right: 80px;
}
.piloto .quem-piloto h2{
  font-size: 32px;
  margin-bottom: 30px;
}
.piloto .quem-piloto p{
  margin-bottom: 30px;
  color: #adadad;
  font-size: 18px;
}
.piloto .quem-piloto .feitos{
  max-width: 400px;
  color: #adadad;
  margin-left: 40px;
  font-size: 18px;
}
.piloto .teacher-area{
  display: flex;
  flex-direction: column;
  position: relative;
}
.piloto .teacher-area img{
  width: 400px;
  margin: auto auto 40px;
}
.piloto .teacher-area .buttons{
  position: absolute;
  bottom: 5%;
  right: 30%;
}
.piloto .teacher-area .buttons button{
  background-color: var(--color-gostack);
  color: black;
  padding: 15px 20px;
  font-family: var(--font-source);
  border-radius: 5px;
  border: 1px solid var(--color-gostack);
  font-weight: 900;
  margin: auto 5px;
}
.piloto .teacher-area .teacher{
  position: absolute;
  top: 10%;
  left: -15%;
}
.piloto .teacher-area h2{
  font-size: 18px;
}
.piloto .teacher-area p{
  font-weight: bold;
  color: var(--color-gostack);
  font-size: 14px;
}
.footer-main{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  font-family: var(--font-source);
  padding: 30px;
  width: 90%;
  background: var(--gradient-claro);
  margin: 30px 5%;
}
.footer-main-img img{
  width: 300px;
}
.footer-main .footer-main-content{
  line-height: 50px;
}
.footer-main-content h3{
  text-align: left;
  font-size: 36px;
  margin-bottom: 50px;
}
.footer-main-content form input{
  width: 300px;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-gostack);
  margin-right: 10px;
}
.footer-main-content form button{
  background: var(--color-gostack);
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-gostack);
}

.footer-gostack{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-gostack .footer-logo{
  display: flex;
  justify-content: space-evenly;
}
.footer-gostack .footer-logo img{
  width: 100px;
  margin-right: 10px;
}
.footer-gostack .links-footer{
  display: flex;
  flex-direction: row;
}
.footer-gostack .links-footer h2{
  font-size: 14px;
  margin: auto 10px;
}