@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
:root{
    --fundo-gradiente: linear-gradient(rgb(16, 15, 18) 0%, rgb(26, 26, 31) 100%);
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    padding: 0;
    text-align: center;
    position: relative;
}

/*=== CABEÇALHO ===*/
.headerLayout{
    background: rgb(9, 14, 43);
    font-family: 'Roboto', sans-serif;
    text-align: center;  
    padding: 30px;
    position: relative;
}
.headerLayout a{
    background: rgba(6, 9, 26, 0);
    margin: 30px;
    color: white;
    text-decoration: none;
}
.headerLayout a:hover{
    color: rgb(63, 206, 63);
    transition: 0.5s;
}
.headerLayout img{
    width: 150px;
    text-align: left;
    position: absolute;
    left: 3%;
    bottom: 25%;
}

.mainIndex{
    background: var(--fundo-gradiente);   
    color: white;
    height: 500px;  
}
.mainIndex img{
    margin: 20px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid rgb(136, 94, 252);
}
.mainIndex p{
    margin: 20px auto;   
}
body div .index{
    background: var(--fundo-gradiente);
}

/* ===CARDS=== */
.fundo{
    background: var(--fundo-gradiente);
    padding: 30px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    color: gray;
    margin: 0px;   
}
.cards div h2{
    margin: 40px auto 90px;
}
.card{
    padding-top: 0px;
    background: var(--fundo-gradiente);
    border: 5px solid rgba(63, 61, 61, 0.856);
    border-radius: 15px;
    height: 600px;
}
.cards div p{
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#starteR{
    color: #7159c1;
}
#launchBase{
    color: orange;
}
#goStack{
    color: #04d361;
}


/* ===RODAPÉ=== */
.inderFooter{
    padding: 30px;
    background:  rgb(9, 14, 43);
}
.inderFooter a{
    padding-bottom: 10px;
    color: paleturquoise;
    border-bottom: 1px solid powderblue;
    border-radius: 0px 0px 4px 4px;
    text-decoration: none;
}
.inderFooter a:hover{
    transition: 1s;
    color: rgb(247, 80, 80);
}
