@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    background: url("fundo.jpg");
    background-size: 100%;
    text-align: center;
    position: relative;
}

/*=== CABEÇALHO ===*/
header{
    background: rgb(9, 14, 43);
    font-family: 'Roboto', sans-serif;
    text-align: center;  
    padding: 30px;
    position: relative;
}
header a{
    background: rgb(6, 9, 26);
    margin: 30px;
    color: white;
    text-decoration: none;
}
header a:hover{
    color: rgb(63, 206, 63);
    transition: 0.5s;
}

header img{
    width: 150px;
    text-align: left;
    position: absolute;
    left: 3%;
    bottom: 30%;
}

main{
    color: white;
}
main img{
    margin: 20px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgb(136, 94, 252);
}
main p{
    margin: 20px auto;   
}

/* ===CARDS=== */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    color: gray;
    margin: 30px;
    
}
section div h2{
    margin: 40px auto 90px;
}
.card{
    padding-top: 0px;
    background: url("fundo.jpg");
    border: 5px solid rgba(63, 61, 61, 0.856);
    border-radius: 15px;
    height: 600px;
}
section div p{
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#starteR{
    color: #7159c1;
}
#launchBase{
    color: orange
}
#goStack{
    color: #04d361
}

/* ===MODAL=== */
.modalOverlay{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    background: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.close-modal{
    color: black;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.maxim-modal{
    color: black;
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}
iframe{
    width: 100%;
    height: 95%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*===MODAL ACTIVE===*/
.modalOverlay.active{
    opacity: 1;
    visibility: visible;
}
.modal.up{
    background: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
}
.maxim-modal.up{
    color: black;
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}

/* ===RODAPÉ=== */
footer a{
    padding-bottom: 10px;
    color: paleturquoise;
    border-bottom: 1px solid powderblue;
    border-radius: 0px 0px 4px 4px;
    text-decoration: none;
}
footer a:hover{
    transition: 1s;
    color: rgb(247, 80, 80);
}