{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}} - Mayk Brito</title>
{% endblock %}

{% block content %}
   
    <div id="wrapper">
        <h1>{{item.title}}</h1>
    </div>
    <section class="video">
        
        <div class="card" id="{{item.id}}">
            <div class="card-image {{ '.featured-wrapper' if item.featured }} ">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="videio aula de {{item.title}} Rocketseat">
                {% if item.fatured %} 
                    <div class="featured">Featured</div>
                {% endif %}
            </div>
            <div class="card-content">
                <p>{{item.title}}</p>
            </div>
            <div class="card-info">
                <p>{{item.duration}}</p>
                <p class="card-price">{{item.price}}</p>
            </div>
        </div>
        
    </section>
{% endblock %}